body {
  background-color: #C4C3C3; /* Color gris */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar relleno */
  font-family: 'Oswald', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* Navegación */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 20px 0;
} 

/*ul*/
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}