body {
  background-color: #C4C3C3; /* Color gris */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar relleno */
  font-family: 'Oswald', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.container {
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
}

.content-container {
  background-color: #fff; /* Área blanca */
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra suave */
  width: 100%; /* Ancho del contenido */
  max-width: 1200px; /* Ancho máximo del contenido */
  margin-top: 20px; /* Agregar un margen superior */
}

.content-container h2{
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
  width: 100%;
}

/* Navegación */
.nav-main {
  font-weight: bolder;
  margin-top: 0;
  padding-top: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  background-color: #0E8AB5;
  align-items: center;
  height: 51px; /* ancho de el color celeste */
  padding: 0px;
} 

/*ul*/
.nav-main ul {
  display: flex;

}

.nav-main ul li {
  padding: 13px; /*Ajustar el color morado*/
  display: inline-block;
  position: relative;
}

.nav-main ul li a{
  padding: 5px; /*Ajustar el color morado*/
  margin: 15px 10px 25px 15px;
}

.nav-main ul li:hover {
  background-color: #830DB0; /* Cambia el color cuando pasas el ratón sobre los elementos del menú principal */
}

.nav-main ul li:hover > ul {
  display: block; /* Mostrar el menú desplegable al pasar el ratón */
}

/* Estilos para los elementos del menú desplegable */
.nav-main ul ul {
  display: none;
  position: absolute;
  background-color: #830DB0; /* Color de fondo del submenu */
  min-width: 360px; /* Ancho mínimo del submenu */
  left: 0;
  top: 100%;
  padding-left: 0;
}

.nav-main ul ul li {
  display: block; /* Mostrar los elementos del menú desplegable uno debajo del otro */
}

.nav-main ul ul li a{
  margin: 0 0 0 30px; /* Mostrar los elementos del menú desplegable uno debajo del otro */
}

.nav-main ul ul li:hover {
  background-color: #0E8AB5; /* Cambia el color cuando pasas el ratón sobre los elementos del submenu */
}

.nav-main ul ul li a:hover {
  color: #050505; /* Cambia el color cuando pasas el ratón sobre los elementos del submenu */

}

.intro h1 {
  padding: 0 100px 0 10px;
  margin: 80px 10px 10px 50px;
  text-align: center;
  font-size: 50px;
}

hr {
  margin: 0 40px 0 40px;
}

.subindice hr {
  margin: 0 20px 0 20px;
}

.subindice p {
  margin: 20px 20px 0 20px;
}

.indice {
  margin: 0px;
  padding: 0px;
  color: black;
} 

.indice h1{
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0px;
  font-size: 35px;
  text-align: center;
} 

.indice ul li a {
  padding: 2px;
} 

.indice ul li a:hover {
  border-bottom: 2px solid #AAAAAA;
} 

.subindice h2{
  margin: 10px 0 0 10px;
  padding: 10px 0 0 10px;
  font-size: 28px;
  text-align: left;
} 

.indice ul li a{
  padding: 0px; 
  margin: 0;
  color: black;
  font-size: 18px;
}

/*BOTON DE DESCARGA*/
.botones-container {
  text-align: center;
  margin-top: 50px;
}

.botones-container button {
  padding: 10px 20px;
  margin: 10px 50px 10px 50px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
